* {
    margin: 0;
    padding: 0;
}

body {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

#upload {
    text-align: center;
}
